// Forms
.contact-search {
    width: 100%;
    .search {
        width: 50%;
        padding: .5rem;
        margin: 1rem 2rem;
    }
    .search-icon {
        position: relative;
        left: -4.25rem;
    }
}