// Mixins

// Breakpoint Mixin

@mixin bp($breakpoint) {

  $bp-xs: "(max-width: 420px)";
  $bp-sm: "(min-width: 420px)";
  $bp-md: "(min-width: 768px)";
  $bp-lg: "(min-width: 1024px)";
  $bp-xl: "(min-width: 1280px)";

  @if $breakpoint == xs {
    @media #{$bp-xs} { @content; }
  }
  @else if $breakpoint == sm {
    @media #{$bp-sm} { @content; }
  }
  @else if $breakpoint == md {
    @media #{$bp-md}  { @content; }
  }
  @else if $breakpoint == lg {
    @media #{$bp-lg}  { @content; }
  }  
  @else if $breakpoint == xl {
    @media #{$bp-xl}  { @content; }
  }
}

// Font Mixin for pixel fallback on IE8

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

/*  p {
  @include font-size(14px)
} */

// Clearfix

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/* .container-with-floated-children {
  @extend %clearfix;
} */